

Server:
  host: localhost
  port: 80
  server_name: optional_server_name
  default_server: true
  client_max_body_size: 4M
  error_pages:
    404: /errors/404.html
    500: /errors/500.html
  routes:
    - path: /
      root: /var/www/html
      index: index.html
      methods: [GET, POST]
      directory_listing: off
    - path: /images
      root: /var/www/images
      methods: [GET]
      directory_listing: on
    - path: /upload
      root: /var/www/uploads
      methods: [POST]
      upload_enable: true
      upload_save_path: /var/www/uploads
    - path: /scripts
      cgi_enable: true
      cgi_extension: .php
      cgi_handler: /usr/bin/php-cgi
      cgi_path: /var/www/cgi-bin
      Server: sadw
