server:
	server_name: localhost
	port: 8888
	ip: 127.0.0.1
	max_body_size: 300000

	# Default error pages
	error_page:
		404: www/error_pages/404.html
		500: www/error_pages/500.html

	# Root directory for the server
	root: web

	location:
		path: /
		methods: POST, DELETE
		default_file: index.html
		directory_listing: off

server:
	server_name: mdjf
	port: 8880
	ip: 127.0.0.1
	max_body_size: 4096

	# Default error pages
	error_page:
		404: /error_pages/404.html
		500: /error_pages/500.html

	# Root directory for the server
	root: /var/www/html

	location:
		path: /
		methods: GET, POST, DELETE
		default_file: index.html
		directory_listing: off

	location:
		path: /test

	location:
		path: /kapouet
		methods: GET, POST, PUT
		root: /tmp/www/kapouet
		default_file: index_kapouet.html
		directory_listing: on
		redirect:
			from: /old_kapouet
			to: /kapouet
