server:
	server_name: website0
	port: 8888
	ip: 127.0.0.1
	max_body_size: 300000

	# Default error pages
	error_page:
		403: /error_pages/403.html
		404: /error_pages/404.html

	# Root directory for the server
	root: web/website0

	location:
		path: /
		methods: POST, DELETE, GET
		directory_listing: off
		redirect:
			from: /home.html
			to: /index.html

	location:
		path: /test
		methods: POST, DELETE, GET
		directory_listing: off
		redirect:
			from: /testhome.html
			to: /index.html

	location:
		path: /img
		methods: POST, DELETE, GET
		directory_listing: off
		redirect:
			from: /kapouet/test.txt
			to: /error_pages/404.html

	location:
		path: /poire
		methods: POST, DELETE, GET
		directory_listing: off
		redirect:
			from: /kapouet
			to: /error_pages/505.html

